@using Casablanca.Models.ExpenseReports;
@{
    ViewBag.Title = "Mes frais";
}

@model List<ExpenseReport>

<h2 class="text-left">Notes de frais</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Mois</th>
                <th>Montant Total</th>
                <th>Nombre de frais</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.Month @item.Year</td>
                    <td>@item.TotalCost</td>
                    <td>@item.NbLines</td>
                    <td>
                        @switch (item.Status) {
                            case ExpenseReportStatus.UNSENT: <text>Non envoyée</text>break;
                            case ExpenseReportStatus.REFUSED: <text>Refusée</text>break;
                            case ExpenseReportStatus.APPROVED: <text>Approuvée</text>break;
                            case ExpenseReportStatus.PENDING_APPROVAL_1: <text>En attente de première validation</text>break;
                            case ExpenseReportStatus.PENDING_APPROVAL_2: <text>En attente de seconde validation</text>break;
                        }
                    </td>
                    <td>"Un bouton ici"</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="btn-group" role="group">
    <a class="btn btn-link" role="button" href="creer-note.html">Créer une note de frais</a>
    <a class="btn btn-link" role="button" href="demande-avance.html">Demander une avance sur une note de frais</a>
</div>