
@{
    ViewBag.Title = "Mes frais";
}

<h2 class="text-left">Notes de frais</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Mois</th>
                <th>Montant Total</th>
                <th>Nombre de frais</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            ]
            <tr>
                <td>Cell 1</td>
                <td>Cell 2</td>
                <td>Cell 3</td>
                <td>Cell 4</td>
                <td>Cell 5</td>
            </tr>
            <tr>
                <td>Cell 3</td>
                <td>Cell 4</td>
                <td>Cell 3</td>
                <td>Cell 4</td>
                <td>Cell 5</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="btn-group" role="group">
    <a class="btn btn-link" role="button" href="creer-note.html">Créer une note de frais</a>
    <a class="btn btn-link" role="button" href="demande-avance.html">Demander une avance sur une note de frais</a>
</div>