
@{
    ViewBag.Title = "Traiter";
}

<h2>Calendrier des congés actuels</h2>
<img height="300" src="http://www.lafermeduweb.net/images/billets/2012-11/calendrio-jquery-calendrier-design.jpg" />

<h2>Demandes de congés en cours</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Collaborateur</th>
            <th scope="col">Dates demandées</th>
            <th scope="col">Date de la demande</th>
            <th scope="col">Valider la demande ?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Morgan FEURTE</td>
            <td>19/08 -> 23/08</td>
            <td>17/08</td>
            <td><button class="btn">Valider congé</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jeffrey GONCALVES</td>
            <td>01/01 -> 31/12</td>
            <td>01/01</td>
            <td><button class="btn">Valider congé</button></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Adrien LAVILLONNIERE</td>
            <td>17/08 -> 23/08</td>
            <td>13/08</td>
            <td><button class="btn">Valider congé</button></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Minh NGUYEN</td>
            <td>19/08 -> 20/08</td>
            <td>09/08</td>
            <td><button class="btn">Valider congé</button></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>01/08 -> 23/08</td>
            <td>01/08</td>
            <td>Yao SHI</td>
            <td><button class="btn">Valider congé</button></td>
        </tr>
    </tbody>
</table>