
@{
	ViewBag.Title = "Profil d'un collaborateur";
}

@Model  Collaborator


<!-- <h2>CollaboratorView</h2>-->

<p>

	<h2>
		Profil du collaborateur @Model.firstName @Model.lastName
	</h2>

	Salut<br />
	Ce collaborateur s'appelle @Model.firstName @Model.lastName<br />
	<br />
	Ses missions sont :<br />
	<br />

</p>