@{
    ViewBag.Title = "Casablanca";
}

<div class="jumbotron">
    <h1>Bienvenue !</h1>
    <p class="lead">Casablanca est l'intranet préféré des utilisateurs Pops17-18 !</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">En apprendre plus &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pour commencer</h2>
        <p>
            Pour effectuer des demandes, rendez vous dans l'onglet utile dans la barre de navigation.
            Si vous souhaitez traiter une demande, rendez vous dans l'onglet Gestion de la barre de navigation.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ce site est vraiment très beau</h2>
        <p>En effet ! Il a été réalisé à partir du framework ASP.NET en utilisant le modèle MVC, vive la technologie !</p>
    </div>
    <div class="col-md-4">
        <h2>Dark mode ?</h2>
        <p>Nous sommes actuellement en train de travailler dessus ! En effet, nous comprenons bien que le besoin principal du 
        client est d'avoir un mode sombre pour soulager ses yeux, l'utilité du site n'étant qu'un critère secondaire !</p>
    </div>
</div>